

header { 
    font-family: 'Comfortaa', cursive; 
    margin-bottom: 50px; 
    margin-top: 20px;
    font-size: 20px; 
  } 
   
  h1 { 
    font-family: 'Comfortaa', cursive;
    font-size: 50px;
    margin-bottom: 20px; 
  } 

  .nav-pills .nav-link.active{
    background-color: @bg;
    color: #000;
  }

  .nav-pills .nav-link.hover{
    background-color: @bg;
  }

  a:link{
  text-decoration:none;
  }

  a{
    color:#000;
  }
  a:hover{
    color: #f4dc42;
  }

  a:focus {
    outline: none;
  }

  @media only screen and (min-width: 768px){
  .nav-item{
    font-size: 24px;
  }

}

@media only screen and (max-width: 480px){
  .nav-item{
    font-size: 14px;
  }
}