main{
	.jumbotron{
		padding-bottom: 10px;
		padding-top: 20px;
	}

	.jumbotron h1{
		font-size: 5.9vw;
	}

	.card{
		border:none;
	}

	.other-games img {
		width: 100%;
	}

	h2,h3 {
		font-family: 'Comfortaa', cursive;

	}

	.games p {
		font-size: 18px;
	}

	@media only screen and (min-width: 780px){
		.games p {
			font-size: 24px;
		}

	}

	@media only screen and (max-width: 480px){
		.games p {
			font-size: 12px;
		}
	}

	.btn-newgame, .btn-gameover{
		background-color: @bg;
		color:#fff;
		margin-right: 15px;
		margin-top: 5px;
		border-radius: 2.5rem;
	}
	.btn-newgame{
		margin-right: 45px;
	}

	.games p{
		color:#000;
	} 

	.games p:hover{
		color:grey		;
	}
}