/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height 
     or slightly more for more space before footer
  */
  margin-bottom: 150px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 120px;
}
/*
  Other footer height for Boostrap xs, sm
  (for breakpoint see: https://getbootstrap.com/css/)
*/
@media screen and (max-width: 767px) {
  body {
    margin-bottom: 230px;
  }
  footer {
    height: 200px;
  }
}
